<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <script src="{{ url_for('static', filename='js/ygg.js') }}" defer></script>
</head>

<body>
    <div class="filter-container">
	<div class="filter-wrapper">
	    <input id="filter" type="text" placeholder="Suchen..." />
	    <p class="filter-hint">Enter Search term. Use <span class="hint-accent">"p: [range]"</span> to search for player count.</p>
	    <p class="filter-hint"><span class="hint-accent">"range"</span> can be anything like <span class="hint-accent">"1-4", "4", "3-5+", "6+"</span></p>
	</div>
    </div>
    <ul id="list" class="game_data">
    </ul>
</body>

</html>
